.infos-wrapper {
  width: 100%;
  margin-bottom: 60px;
  padding-left: 20px;
  line-height: 30px;
}

.currency-value {
  margin-bottom: 15px;
}

.value {
  font-weight: 700;
  font-size: 32px;
  margin-right: 10px;
  color: var(--primaryText);
}

.currency {
  font-size: 16px;
  color: var(--secondaryText);
}

.status {
  font-size: 16px;
  line-height: 24px;
}

.infos-source {
  width: 100%;
  display: inline-flex;
  font-size: 13px;
}

.separator {
  margin: 0 8px;
}

.source-link {
  color: var(--secondaryText);
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .value {
    font-size: 24px;
  }

  .currency {
    font-size: 14px;
  }

  .status {
    font-size: 14px;
    line-height: 18px;
  }

  .infos-source {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  .infos-wrapper {
    margin-bottom: 40px;
    line-height: 25px;
  }
}
