.converter-wrapper {
  width: 70%;
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

@media only screen and (max-width: 600px) {
  .converter-wrapper {
    width: 85%;
    padding-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .converter-wrapper {
    width: 75%;
    flex-direction: column;
  }
}
